body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
}

.site-wrapper {
  max-width: 1200px;
  padding: 0 var(--spacing-small);
  margin: 0 auto;
}

.content {
  background-color: var(--sixth-color);
  display: grid;
  place-items: center;
  border-radius: var(--sizing-small);
}

.title {
  margin-top: var(--spacing-large);
  font-size: var(--bolder-font);
  font-weight: bolder;
  color: var(--primary-color);
}

.filter-list {
  display: grid;
  grid-template-columns: auto auto auto;
}

.filter-item {
  color: var(--primary-color);
  padding: var(--spacing-xxlarge);
}

.todo-item-add {
  border: var(--secondary-border);
  border-radius: var(--sizing-xsmall);
  padding: var(--spacing-small);
  margin: var(--spacing-small);
  display: flex;
  justify-content: space-between;
}

.todo-item {
  border: var(--secondary-border);
  border-radius: var(--sizing-xsmall);
  padding: var(--spacing-small);
  margin: var(--spacing-small); 
  display: flex;
}

input {
  accent-color:var(--secondary-color);
  border: none;
}

.add-icon {
  color: var(--quaternary-color);
}

.edite-icon {
  visibility: hidden;
  margin-left: auto;
  padding-right: var(--spacing-small);
  color: var(--quaternary-color);
}

.remove-icon {
  visibility: hidden;
  color: var(--tertiary-color);
}

.todo-item:hover .edite-icon {
  visibility: visible;
}

.todo-item:hover .remove-icon {
  visibility: visible;
}

.container {
  min-height: 100vh;
  background-color: var(--sixth-color);
}

.todo {
  padding-left: var(--spacing-xsmall);
}

.error-message {
  padding-top: var(--spacing-large);
  color: var(--tertiary-color);
  font-weight: bold;
}

.backend-error-message {
  color: var(--tertiary-color);
  font-weight: bold;
  text-align: center;
}