body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
}

.site-wrapper {
  max-width: 1200px;
  padding: 0 var(--spacing-small);
  margin: 0 auto;
}

.content {
  background-color: var(--sixth-color);
  display: grid;
  place-items: center;
  border-radius: var(--sizing-small);
}

.title {
  margin-top: var(--spacing-large);
  font-size: var(--bolder-font);
  font-weight: bolder;
  color: var(--primary-color);
}

.filter-list {
  display: grid;
  grid-template-columns: auto auto auto;
}

.filter-item {
  color: var(--primary-color);
  padding: var(--spacing-xxlarge);
}

.todo-item-add {
  width: 350px;
  border: var(--secondary-border);
  border-radius: var(--sizing-xsmall);
  padding: var(--spacing-small);
  margin: var(--spacing-small);
  display: flex;
  justify-content: space-between;
}

.todo-item {
  width: 350px;
  border: var(--secondary-border);
  border-radius: var(--sizing-xsmall);
  padding: var(--spacing-small);
  margin: var(--spacing-small);
  display: grid;
  grid-template-columns: 1fr auto auto;
}

input {
  accent-color:var(--secondary-color);
  border: none;
}

.fa-solid {
  color: var(--quaternary-color);
}

.fa-pen-to-square {
  visibility: hidden;
}

.fa-xmark {
  visibility: hidden;
  color: red;
}

.todo-item:hover .fa-pen-to-square {
  visibility: visible;
}

.todo-item:hover .fa-xmark{
  visibility: visible;
}

.container {
  min-height: 100vh;
  background-color: var(--sixth-color);
}